<div class="container-fluid">
app/views/index.html.erb
<%= render'pages/uberuns' %>
<%= render'pages/angebote' %>
<%= render'pages/offerte' %>
<%= render'pages/fotos' %>
<%= render'pages/kontakt' %>	
</div>
