<div class="container-fluid">
<%= render'pages/hero' %>
<%= render'pages/uberuns' %>
<%= render'pages/angebote' %>
<%= render'pages/offerte' %>
<%= render'pages/fotos' %>
<%= render'pages/kontakt' %>	
</div>
